
#home {
    background-color: #cae4ff;
    height: 50px;
    width: 10%;
    right: 10px;
    text-align: center; 
    line-height: 50px;
    font-size: 100%;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;

}

#home:hover {
    font-size: 110%;
    background-color: #8bbaec;
    width: 10%;
    right: 50px;
    text-align: center; 
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;

}
#turu {
    background-color: #cae4ff;
    height: 50px;
    width: 10%;
    right: 10px;
    text-align: center; 
    line-height: 50px;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
    font-size: 65%;
}

#turu:hover {
    font-size: 110%;
    background-color: #8bbaec;
    width: 10%;
    right: 70px;
    text-align: center; 
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;

    font-size: 70%;
}
#rirekki {
    font-size: 100%;
    background-color: #cae4ff;
    height: 50px;
    width: 10%;
    right: 10px;
    text-align: center; 
    line-height: 50px;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;

}

#rirekki:hover {
    font-size: 110%;
    background-color: #8bbaec;
    width: 10%;
    right: 70px;
    text-align: center; 
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;

}
#link {
    font-size: 100%;

    background-color: #cae4ff;
    height: 50px;
    width: 10%;
    right: 10px;
    text-align: center; 
    line-height: 50px;
    font-size: 100%;
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;

}

#link:hover {
    font-size: 110%;

    background-color: #8bbaec;
    width: 10%;
    right: 50px;
    text-align: center; 
    transition: background-color 0.3s ;
    transition: font-size 0.3s ease-in-out;

}


#saidoba- {
    margin: -7px;
    background-color: #cae4ff;
    height: 93px;
    width: 100%;
    position: relative;
}
#title {
    margin: -1px;
    background-color: #8bbaec;
    height: 93px;
    width: 100%;
    position: relative;
    color: #ffffff;

}
#saidoba- p {
    color: #ffffff;
    margin: 0;
    display: inline;
    display: inline-block;
}
#tex{
    height: 93px;
    width: 100%;
}





p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0;

}
.icon{
    height: 35px;
    width: 35px; 
    position: relative;
    top: 15px;
    right: -10px;
}
.icon p{
    height: 65px;
    width: 65px; 

}
.icon_youtube{
    margin-top: 3px;
    height: 55px;
    width: 55px; 
}
.icon_youtube p{
    height: 65px;
    width: 65px; 

}
#logo{
    position: relative;
    top: 15px;
    right: -10px;
}


#nyuuryoku  {
    background-color: #8bbaec;
    height: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 2%;
    
}




#search {
    margin-top: 7px;
    border-radius: 5px; 
    background-color: #8bbaec;
    display: inline-block;    

}
#searcharea {
    background-color: #8bbaec;
    display: inline-block;    
    height: 40px;
    width: 60px; 
    border-radius: 5px; 
}

#search input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    background-color: #8bbaec;
    display: inline-block;    
    font-size: 14px; border-radius: 10px; 
    ;

}

#search input::placeholder {
    color: white;
}

#search input:focus-visible {
    outline: 0;
    border: 0;
    
}

#search button {
    display: inline-block;    
    border-radius: 5px; 
    margin-top: -34px;
    background-color: #8bbaec;
    border: none;
    background-image: url(https://scratch.mit.edu/images/nav-search-glass.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 50%;
    height: 40px;
    width: 40px;
}
